format = """\
  $username\
  $hostname\
  $git_branch\
  $git_status\
  $line_break\
  $directory\
  $character\
"""

scan_timeout = 10

[python]
style = "bold green"
symbol = "py "

[git_status]
style = "bold yellow"
